* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
}

.logo h2 {
  color: #0088cc;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover,
nav a.active {
  color: #0088cc;
}

.login-btn {
  background: #0088cc;
  color: white;
  padding: 8px 18px;
  border-radius: 20px;
}

/* Hero */
.about-hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #00c6ff, #007bff);
  color: #fff;
}

.about-hero h1 span {
  color: #fff;
  text-decoration: underline;
}

/* Mission Section */
.mission, .how {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 100px;
  gap: 40px;
}

.mission img, .how img {
  width: 280px;
}

.mission h2, .how h2 {
  color: #0088cc;
  margin-bottom: 15px;
}

.mission p, .how ul {
  color: #444;
  font-size: 1rem;
  line-height: 1.6;
}

/* How Section */
.how ul {
  list-style: disc;
  padding-left: 20px;
}

/* Why Choose Us */
.why {
  text-align: center;
  background: #f8fcff;
  padding: 80px 50px;
}

.why h2 {
  color: #0088cc;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 25px;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 70px;
  margin-bottom: 15px;
}

/* Team */
.team {
  padding: 70px 50px;
  text-align: center;
}

.team-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.member {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 220px;
  transition: 0.3s;
}

.member:hover {
  transform: scale(1.05);
}

.member img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Footer */
footer {
  background: #0088cc;
  color: white;
  text-align: center;
  padding: 15px 0;
}
