* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
}

.logo h2 {
  color: #0088cc;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover,
nav a.active {
  color: #0088cc;
}

.login-btn {
  background: #0088cc;
  color: white;
  padding: 8px 18px;
  border-radius: 20px;
}

/* Hero */
.contact-hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #00c6ff, #007bff);
  color: #fff;
}

.contact-hero span {
  color: #ffe600;
}

/* Contact Section */
.contact-section {
  padding: 80px 100px;
  background: #f8fcff;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.contact-info, .contact-form {
  background: #fff;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  width: 45%;
}

.contact-info h2,
.contact-form h2 {
  color: #0088cc;
  margin-bottom: 15px;
}

.contact-info p {
  color: #444;
  margin-bottom: 20px;
}

.info-box p {
  margin-bottom: 10px;
  font-size: 1rem;
}

.social-links img {
  width: 30px;
  margin-right: 15px;
  transition: transform 0.3s;
}

.social-links img:hover {
  transform: scale(1.2);
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
}

button {
  background: #0088cc;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #006fa1;
}

/* Map */
.map-section iframe {
  width: 100%;
  height: 400px;
  border: none;
}

/* Footer */
footer {
  background: #0088cc;
  color: white;
  text-align: center;
  padding: 15px 0;
}
